@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-inst-sans);
  --font-inter: var(--font-geist-inter);
  --color-yellow: #d0f348;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: black;
  font-family: var(--font-inter), sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade {
  animation: fadeIn 0.25s ease;
}

#big1 {
  font-size: 3.812rem;
  word-wrap: "break-word";
}

#big2 {
  font-size: 3.062rem;
  font-family: "Inter";
  word-wrap: "break-word";
}

#big3 {
  font-size: 2.438rem;
  font-family: "Inter";
  word-wrap: "break-word";
}

#medium1 {
  font-size: 1.938rem;
  font-family: "Inter";
  word-wrap: "break-word";
}

#medium2 {
  font-size: 1.562rem;
  font-family: "Inter";
  word-wrap: "break-word";
}

#medium3 {
  font-size: 1.25rem;
  font-family: "Inter";
  word-wrap: "break-word";
}

.leaflet-container {
  height: 80%;
  width: 80%;
  z-index: 10;
}

/* Kustomisasi untuk divIcon Leaflet agar tidak ada style default */
.custom-leaflet-icon {
  background: transparent;
  border: none;
}

.map-tiles {
  /* Filter ini akan mengubah:
    - Abu-abu (daratan) menjadi biru-kehijauan (teal)
    - Hitam (air) akan tetap hitam
    - Teks label akan sedikit berwarna
    Anda bisa menyesuaikan nilai-nilai ini untuk mendapatkan warna yang pas.
  */
  filter: grayscale(40%) hue-rotate(160deg) saturate(180%) brightness(0.7)
    contrast(120%);
}
