@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-inst-sans);
  --font-inter: var(--font-geist-inter);
  --color-yellow: #D0F348;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: black;
  font-family: var(--font-inter), sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade {
  animation: fadeIn .25s ease;
}

#big1 {
  font-size: 3.812rem;
  word-wrap: 'break-word';
}

#big2 {
  font-size: 3.062rem;
  font-family: 'Inter';
  word-wrap: 'break-word';
}

#big3 {
  font-size: 2.438rem;
  font-family: 'Inter';
  word-wrap: 'break-word';
}

#medium1 {
  font-size: 1.938rem;
  font-family: 'Inter';
  word-wrap: 'break-word';
}

#medium2 {
  font-size: 1.562rem;
  font-family: 'Inter';
  word-wrap: 'break-word';
}

#medium3 {
  font-size: 1.250rem;
  font-family: 'Inter';
  word-wrap: 'break-word';
}